/*
Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.
        on line 86 of layout.css

81: }
82: .counter {
83:   float: right;
84: }
85: .tweets {
86:    border:1px solid rgba(0, 0, 0, 0.22);
87:   border-radius:5px;
88: }
89: .tweets:hover {
90:    border:1px solid black;
91:   border-radius:5px;

Backtrace:
layout.css:86
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:486:in `block in tabulate'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `each_with_index'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:444:in `tabulate'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/home/vagrant/.rvm/gems/ruby-2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/home/vagrant/.rvm/gems/ruby-2.3.0/bin/sass:23:in `load'
/home/vagrant/.rvm/gems/ruby-2.3.0/bin/sass:23:in `<main>'
/home/vagrant/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/home/vagrant/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 3 spaces were used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 86 of layout.css\A \A 81: }\A 82: .counter {\A 83:   float: right;\A 84: }\A 85: .tweets {\A 86:    border:1px solid rgba(0, 0, 0, 0.22);\A 87:   border-radius:5px;\A 88: }\A 89: .tweets:hover {\A 90:    border:1px solid black;\A 91:   border-radius:5px;"; }
